//——————————————————————————————————————————————————————————————————————————————
// Common Design: Header
//——————————————————————————————————————————————————————————————————————————————

.cd-site-header__inner {
  .cssgrid.flexbox & {
    grid-template-columns: 48px 1fr;

    @include tablet {
      grid-template-columns: 132px 1fr;
    }
  }
}

//.cd-header {
//  margin-bottom: 40px;
//}

.sidebar-first #main-content {
  margin-top: 40px;
}

.sidebar-first.og-context-node #main-content {
  margin-top: 0;
}

.no-sidebars .region-content {
  margin-top: 40px;
}

.region-content {
  margin-bottom: 40px;
}
