//——————————————————————————————————————————————————————————————————————————————
// Common Design: Soft Footer
//
// Optional space for a CTA, newsletter sign-up, etc
//——————————————————————————————————————————————————————————————————————————————

.cd-soft-footer {
  background: rgba($hrinfo-red, 0.9);
}

.footer-logos {
  img {
    margin: 10px;
    max-width: 100%;
    max-height: 45px;
  }
  @include tablet {
    .col-md-1 {
      float: left;
      .column {
        width: 105px;
        float: left;
      }
    }
  }
}

.footer-logo {
  margin: 10px;
  height: 40px;
  opacity: 1;
  border: 1px solid white;
  //@include transition(all 0.2s ease-in-out);
  &:hover {
    opacity: 0.7;
  }
}
