/**
 * Common Design Search form in header.
 */

.cd-search--inline_btn {
  color: $hrinfo-higlight-red;

  svg {
    fill: $hrinfo-higlight-red;
  }

  &:hover,
  &:focus {
    color: $hrinfo-higlight-blue;

    svg {
      fill: $hrinfo-higlight-blue;
    }
  }

  .js-open & {
    color: $hrinfo-higlight-blue;

    svg {
      fill: $hrinfo-higlight-blue;
    }

    &:hover,
    &:focus {
      color: $hrinfo-higlight-blue;
    }
  }
}

.cd-search--inline__submit {
  &.js-has-focus {
    background-color: $hrinfo-higlight-blue;
  }
}


// Inline search with dropdown.
.cd-search--inline {

  .cd-search--inline__input[type="search"] {
   padding-left: 32px;
  }

  .icon--arrow-down {
    fill: $cd-default-text-color;
  }

  .cd-search--inline__dropdown-btn {
    position: absolute;
    display: flex;
    align-items: center;
    height: calc(#{$cd-site-header-height} - 16px); // Minus padding.
    left: 16px;
  }

  .dropdown-menu {
    //display: none;
    left: 12px;
    right: 60px; // Width of button.
    top: calc(100% - 8px); // Minus bottom padding.
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: 0 none;
  }

  .dropdown-menu > .active > a,
  .dropdown-menu > .active > a:focus,
  .dropdown-menu > .active > a:hover {
    color: $cd-white;
    background-color: $hrinfo-higlight-blue;
  }
}

// Start inline search for desktop only.
@include desktop {

  .cd-search--inline__form-inner.js-has-focus {
    &::before {
      background: $hrinfo-higlight-blue;
    }
  }

  .cd-search--inline__submit {
    background-color: $cd-white;
    svg {
      fill: $hrinfo-higlight-red;
    }

    &.js-has-focus,
    &:hover,
    &:focus {
      background-color: $cd-mid-bluey-grey;
      svg {
        fill: $hrinfo-higlight-blue;
      }
    }
  }

  // Inline search with dropdown.
  .cd-search--inline {
    position: relative;

    .cd-search--inline__input[type="search"] {
      padding-left: 32px;
    }

    .cd-search--inline__dropdown-btn {
      height: $cd-site-header-height;
      left: 8px;
    }

    .dropdown-menu {
      top: calc(100% + 3px); // Minus site header bottom border.
      right: 0;
      left: 0;
    }
  }
}
