# Ignore configuration files that may contain sensitive information.
html/sites/*/settings*.php

# Ignore paths that contain user-generated content.
html/sites/*/files
html/sites/*/private

# Ignore composer stuff.
bin/
vendor/

# Never commit contrib modules or themes.
html/sites/all/modules/contrib
html/sites/all/themes
# Except the custom theme.
!html/sites/all/themes/ocha_basic
