.reliefweb--wrapper {
  display: flex;
  flex-wrap: wrap;
}

.reliefweb--intro {
  flex: 0 0 100%;
}

.reliefweb--sidebar {
  flex: 0 0 30%;
}

.reliefweb--powered-by {
  text-align: center;
  font-size: 1.2rem;
}

.reliefweb--summary {
  margin: 20px 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.reliefweb--wrapper .reliefweb--clearall {
  margin: 20px 0;
}

.reliefweb--wrapper .reliefweb--clearall a {
  border: solid #333333 1px;
  padding: 5px;
  color: #333333;
}

.reliefweb--removefacets h2 {
  color: #333333;
}

.reliefweb--wrapper .reliefweb--removefacets a {
  color: #333333;
}

.reliefweb--content {
  flex: 0 0 70%;
}

.reliefweb--data table.table {
  table-layout: auto;
}

.reliefweb--data tbody [data-title="Download"] {
  text-align: center;
}

.reliefweb--facet .processed {
  display: none;
}

.reliefweb--facet select {
  width: 90%;
}
