<head>
  <script type="module" src="./ocha-assessments-map.js"></script>
</head>
<body>
  <h2>Testing URLs (click to change)</h2>
  <ul id="test-links">
    <li>https://site-assessments8.docksal/rest/assessments-map?items_per_page=1000&f%5B0%5D=clusters_sectors%3A109042&f%5B1%5D=countries%3A106</li>
    <li>https://site-assessments8.docksal/rest/assessments-map?f[0]=countries%3A152</li>
    <li>https://site-assessments8.docksal/rest/assessments-map?f[0]=countries%3A1</li>
    <li>https://site-assessments8.docksal/rest/assessments-map</li>
    <li>https://site-assessments8.docksal/rest/assessments-map?items_per_page=2000</li>
    <li>https://site-assessments8.docksal/rest/assessments-map?items_per_page=4000</li>
    <li>https://site-assessments8.docksal/rest/assessments-map?items_per_page=8000</li>
  </ul>

  <h2>Kenya</h2>
  <ocha-assessments-map
    id="ocha-map"
    baseurl="https://site-assessments8.docksal"
    src="https://site-assessments8.docksal/rest/assessments-map?f[0]=countries%3A116"
    componenturl="./"
    latitude="51"
    longitude="4"
    zoom="13"
    min-zoom="11"
    max-zoom="19"
    style="
      width: 80vw;
      height: 60vh;
    "></ocha-assessments-map>

  <script>
    let testLinks = document.getElementById('test-links');
    let ochaMap = document.getElementById('ocha-map');

    testLinks.addEventListener('click', function(event) {
      ochaMap.src = event.toElement.innerText;
    });
  </script>

</body>
