<head>
  <script type="module" src="./ocha-assessments-table.js"></script>
</head>
<body>
  <h2>Testing URLs (click to change)</h2>
  <ul id="test-links">
    <li>https://assessmentregistry8-site.docksal/rest/assessments?items_per_page=1000&f%5B0%5D=clusters_sectors%3A109042&f%5B1%5D=countries%3A106</li>
    <li>https://assessmentregistry8-site.docksal/rest/assessments?f[0]=countries%3A152</li>
    <li>https://assessmentregistry8-site.docksal/rest/assessments?items_per_page=1000</li>
  </ul>

  <h2>Kenya</h2>
  <ocha-assessments-table
    id="ocha-table"
    baseurl="https://assessmentregistry8-site.docksal"
    src="https://assessmentregistry8-site.docksal/rest/assessments?f[0]=countries%3A116"
    componenturl="./"
  ></ocha-assessments-table>

  <script>
    let testLinks = document.getElementById('test-links');
    let ochaTable = document.getElementById('ocha-table');

    testLinks.addEventListener('click', function(event) {
      ochaTable.src = event.toElement.innerText;
    });
  </script>

</body>
