//
// Styles for main layout
// --------------------------------------------------

div.region-top div.block {
  display: inline-block;
}

#sidebar-first {

	padding: 0;

	.block {
		padding: 15px;
		background-color: #dfdfdf;
		font-size: 12px;

		a {
			color: #767676;
			padding: 2px 14px;

			&.active {
				color: #bc2e3b;
			}

			.caret {
				display: none;
			}
		}

		li ul {
			list-style-type: disc;
			color: #A7A7A7;

			a {
				padding: 2px;
			}
		}
	}




}

.front {
	#content {
		margin-top: 40px;
	}
}

// Radix layouts
.radix-bartlett .container,
.radix-bartlett-flipped .container,
.radix-boxton .container,
.radix-brenham .container,
.radix-brenham-flipped .container,
.radix-brown .container,
.radix-bryant .container,
.radix-bryant-flipped .container,
.radix-burr .container,
.radix-burr-flipped .container,
.radix-geary .container,
.radix-harris .container,
.radix-hewston .container,
.radix-hewston-flipped .container,
.radix-mccoppin .container,
.radix-moscone .container,
.radix-moscone-flipped .container,
.radix-phelan .container,
.radix-sanderson .container,
.radix-sanderson-flipped .container,
.radix-sutro .container,
.radix-taylor .container,
.radix-taylor-flipped .container,
.radix-whelan .container {
	width: 100%;
}

.bartlett .container,
.bartlett-flipped .container,
.boxton .container,
.brenham .container,
.brenham-flipped .container,
.brown .container,
.bryant .container,
.bryant-flipped .container,
.burr .container,
.burr-flipped .container,
.geary .container,
.harris .container,
.hewston .container,
.hewston-flipped .container,
.mccoppin .container,
.moscone .container,
.moscone-flipped .container,
.phelan .container,
.sanderson .container,
.sanderson-flipped .container,
.sutro .container,
.taylor .container,
.taylor-flipped .container,
.whelan .container {
        width: 100%;
}
