// Due to the width constraint on the body element, the left value needs to be set explicitly, otherwise IPE doesn't
// span full width of viewport

div#panels-ipe-control-container {
  left: 0;
}

div#modalContent {
  max-height: calc(100% - 100px);
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
}
