.#{$namespace}-global-header {
  background: $cd-primary-color;
  color: $cd-text-light;

  .block-hr-bookmarks, .region {
    display: inline-block;
    display: -webkit-flex;
    display: flex;
  }

}

.#{$namespace}-global-header__inner {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $cd-global-header-height;

  .no-flexbox, .no-flexboxlegacy & {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}

.#{$namespace}-global-header__sites {
  position: relative;
  margin-left: -$cd-base-unit;
  font-weight: 500;

  .no-flexbox, .no-flexboxlegacy & {
    float: left;
  }

}

.#{$namespace}-global-header__sites-btn {
  color: $cd-text-light;
  text-transform: uppercase;
  text-align: left;
  padding: 0 $cd-base-unit;
  height: $cd-global-header-height;
  font-size: $cd-tiny-font-size;

  &:hover, &:focus {
    background: darken($cd-primary-color, 10%);
    outline: none;
  }
}

// is using a drupal menu
.#{$namespace}-global-header__sites {
  .menu {
    >li.first {
      >span {
        display: block;
        color: $cd-text-light;
        text-transform: uppercase;
        text-align: left;
        padding: 14px $cd-base-unit;
        height: $cd-global-header-height;
        font-size: $cd-tiny-font-size;
        background: darken($cd-primary-color, 10%);

        &.collapsed {
          background: $cd-primary-color;
        }

        .caret {
          margin-left: $cd-base-unit/2;
        }

        &:hover, &:focus {
          background: darken($cd-primary-color, 10%);
          outline: none;
        }
      }
    }

    ul {
      position: absolute;
      top: $cd-global-header-height;
      background: white;
      z-index: 999;
      width: 196px;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);

      a {
        display: block;
        padding: $cd-base-unit*1.5;
        border-bottom: 1px solid $cd-border-color;
        text-decoration: none;
        color: $cd-text-dark;

        &:hover, &:focus {
          background: $cd-primary-color;
          color: $cd-text-light;
        }

        &:focus {
          text-decoration: underline;
        }

      }

      > .active > a {
        background: $cd-primary-color;
        color: $cd-text-light;
      }
        }
  }

}


.#{$namespace}-global-header__nav {
  .no-flexbox, .no-flexboxlegacy & {
    float: right;
  }
}

#block-system-user-menu {
  .btn {
    width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .caret {
      position: absolute;
      right: $cd-base-unit;
      top: ($cd-base-unit * 2) + 2;
    }
  }
}

@media (min-width: map-get($grid-breakpoints, sm)) {

  .#{$namespace}-global-header__sites {
    margin-left: 0;
  }

  .#{$namespace}-global-header__sites-btn {
    font-size: $cd-small-font-size;
  }

  .#{$namespace}-global-header__sites {
    .menu {
      >li.first {
        >span {
          font-size: $cd-small-font-size;
          padding: $cd-base-unit*1.5 $cd-base-unit;
        }
      }
    }
  }

  .#{$namespace}-global-header__nav {
    margin-right: 0;
  }

  #block-system-user-menu {
    .btn {
      width: auto;

      .caret {
        position: relative;
        top: auto;
        right: auto;
      }
    }
  }

}
