// @file
// Print Styles
// --------------------------------------------------

// Mixins and Variables
// --------------------------------------------------
@import "global/variable";
@import "global/helper";
@import "global/mixin";

@media print {
  #content-wrapper,
  .container {
    padding-left: 0;
    padding-right: 0;
    width: 100% !important;
  }

  body {
    font-family: 'Liberation Sans', sans-serif;
  }
 
  h1.title {
    font-family: 'Exo' !important;
    text-transform: uppercase;
    color: #54b1c8 !important;
  }

  .table-responsive {
    overflow: visible !important;
  }

  table.table,
  table {
    background-color: #F1F1F1 !important;
    border: 0 !important;
  }

  tr {
    page-break-inside: avoid !important;
  }

  table thead tr {
    border: 0 !important;
  }
  
  table.table td, table.table th, table.table span,
  table td,
  table th,
  table span {
    background-color: #F1F1F1 !important;
    border: 0 !important;
  }
  table.table thead th,
  table.table thead span,
  table thead th,
  table thead span {
    background-color: #54b1c8 !important;
    color: #fff !important;
    text-transform: uppercase;
    font-weight: bold !important;
    border: 0 !important;
    font-family: 'Exo' !important;
  }
  table.table.table-striped > tbody > tr:nth-child(odd),
  table.table-striped > tbody > tr:nth-child(odd) {
    background-color: #fafafa !important;
  }
  table.table.table-striped > tbody > tr:nth-child(odd) td, table.table.table-striped > tbody > tr:nth-child(odd) th, table.table.table-striped > tbody > tr:nth-child(odd) span,
  table.table-striped > tbody > tr:nth-child(odd) td,
  table.table-striped > tbody > tr:nth-child(odd) th,
  table.table-striped > tbody > tr:nth-child(odd) span {
    background-color: #fafafa !important;
    &.badge-rrule {
      background-color: $p-comp !important;
    }
  }
  table.table tbody th, table.table tbody td, table.table tbody span, table.table tbody div,
  table tbody th,
  table tbody td,
  table tbody span,
  table tbody div {
    color: #494949 !important;
  }

  .badge-rrule,
  table tbody span.badge-rrule {
    background-color: $p-comp !important;
    color: white !important;
  }

  .avoid {
    page-break-inside: avoid !important;
  }

  .page-node-events-print {

    h1.title {
      .hr-events-location {
        color: #2a5d81 !important;
      }
    }

    .view-header,
    h3 {
      text-transform: uppercase;
      color: #54b1c8 !important;
      font-weight: bold;
      font-family: 'Exo' !important;
    }

    .view-header {
      margin-bottom: 1em;
    }

    td.views-field-field-event-date,
    td.views-field-field-event-date-1 {
      font-weight: bold;
    }

    .filters,
    .filter {
      background-color: #2a5d81 !important;
      color: white !important;
      text-transform: capitalize;
      line-height: 2em;
    }

    .filter {
      background-color: #54b1c8 !important;
      margin-left: 5px;
      padding: 2px;
      border-radius: 2px;
    }

  }

  .view-hr-events-calendar.view-display-id-print_master {

    th.views-field-field-event-date,
    th.views-field-field-event-date-1 {
      width: 10%;
    }

    th.views-field-title,
    th.views-field-field-address {
      width: 40%;
    }

  }

  .view-hr-events-calendar.view-display-id-print_week,
  .view-hr-events-calendar.view-display-id-print_day {
    th.views-field-field-event-date,
    th.views-field-field-event-date-1 {
      width: 10%;
    }
    th.views-field-field-event-date-2 {
      width: 5%;
    }
  }
}

