// @file
// SASS partials import
// --------------------------------------------------
@import "compass";

// Mixins and Variables
// --------------------------------------------------
@import "global/variable";
@import "global/helper";
@import "global/mixin";

// Bootswatch
// --------------------------------------------------
//@import "bootswatch/_variables";

// Radix
// --------------------------------------------------
@import "compass_radix";

// Bootswatch
// --------------------------------------------------
//@import "bootswatch/bootswatch";

// Theme CSS
// --------------------------------------------------
@import "global/font";
@import "partials/comment";
@import "partials/contacts";
@import "partials/form";
@import "partials/layout";
@import "partials/menu";
@import "partials/node";
@import "partials/page";
@import "partials/panel";
@import "partials/search";
@import "partials/structure";
@import "partials/user";
@import "partials/view";
@import "partials/breadcrumbs";
@import "cd-header/cd-header";


// Fix responsive

.container.header #navigation ul.menu {
  position: relative;
  top: 17px;
  padding-left: 10px;
}

@media screen and (max-width: 768px) {
  .container.header #navigation ul.menu {
    top: auto;
    background: white;
    z-index: 3;
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .container.header #navigation {
    left: auto;
    bottom: auto;
    position: relative;
    line-height: normal;
    height: auto;
    width: auto;
  }
}

.pull-right {
  float: none;
}

@media screen and (max-width: 768px) {
  .pull-right {
    float: right;
  }
}

.container.header .region-branding {
  position: relative;
  top: 0;
}

@media screen and (min-width: 769px) {
  .container.header .region-branding {
    position: absolute;
    top: 0;
  }
}

@media (max-width: 768px) {
  .container {
    width: auto;
  }
}

body .region-branding .block .views-exposed-form .views-exposed-widget .search-select-wrapper .dropdown-toggle {
  padding: 0;
  height: 30px;
  margin: 0;
  width: 20px;
}

table.stylish-table {
  float: none;
  width: 90%;
  margin: 10px auto;
}

table.stylish-table td,
table.stylish-table th {
  border: solid 1px black;
}

table.stylish-table thead td,
table.stylish-table thead th {
  font-weight: bold;
  background-color: #9a9a9a;
}

table.stylish-table tr:nth-child(2n) {
  background-color: #dedede;
}

.front .panel-pane.pane-block.pane-hr-layout-hr-layout-key-documents { margin-bottom: 30px; }
.front .panel-pane.pane-block.pane-hr-layout-hr-layout-hum-system { margin-bottom: 30px; }
