// @file
// SASS partials import
// --------------------------------------------------
@import "compass";

// Mixins and Variables
// --------------------------------------------------
@import "global/variable";
@import "global/helper";
@import "global/mixin";

// Bootswatch
// --------------------------------------------------
//@import "bootswatch/_variables";

// Radix
// --------------------------------------------------
@import "compass_radix";

// Bootswatch
// --------------------------------------------------
//@import "bootswatch/bootswatch";

// Theme CSS
// --------------------------------------------------
@import "global/font";
@import "partials/comment";
@import "partials/contacts";
@import "partials/form";
@import "partials/layout";
@import "partials/menu";
@import "partials/node";
@import "partials/page";
@import "partials/panel";
@import "partials/search";
@import "partials/structure";
@import "partials/user";
@import "partials/view";

// Fix responsive

.container.header #navigation ul.menu {
  position: relative;
  top: 17px;
  padding-left: 10px;
}

@media screen and (max-width: 768px) {
  .container.header #navigation ul.menu {
    top: auto;
    background: white;
    z-index: 3;
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .container.header #navigation {
    left: auto;
    bottom: auto;
    position: relative;
    line-height: normal;
    height: auto;
    width: auto;
  }
}

.pull-right {
  float: none;
}

@media screen and (max-width: 768px) {
  .pull-right {
    float: right;
  }
}

.container.header .region-branding {
  position: relative;
  top: 0;
}

@media screen and (min-width: 769px) {
  .container.header .region-branding {
    position: absolute;
    top: 0;
  }
}

@media (max-width: 768px) {
  .container {
    width: auto;
  }
}
