.pb-btn {
	border: 1px solid $pb-btn-color;
	background: none;
	color: $pb-btn-color;
	display: inline-block;
  padding: 12px 8px;
  text-align: center;

  &:hover, &:focus {
  	background: $pb-btn-color;
  	color: white;
  	text-decoration: none;
  }

  td & {
  	width: 100%;

    &+.pb-btn {
      margin-top: 5px;
    }
  }
}

.pb-export-button-holder {
  position: absolute;
  right: 0;
  margin-top: -50px;
}
