/* Powered by */

.poweredby-logo {
  margin-top: 20px;

  p {
    margin: 0;
    font-size: 14px;
  }

  a {
    padding: 0!important;
  }

  img {
    display: block;
    margin: 16px auto;
    max-width: 100%;
    width: 140px;
  }

  &.reliefweb--powered-by {
    margin-top: 0;
    padding-bottom: 30px;
  }

}

/* Filters */

#sidebar-first .block-ar-assessments, .reliefweb--sidebar,  #sidebar-first .block-hid-profiles, #sidebar-first .block-hdx-datasets {

  .block, .text-search {
    margin-top: 8px;
    padding: 0;
    border-bottom: 1px solid $pb-border;
  }

  .block-current-search {
    border-bottom: none;
  }

  .current-search-filter {
    background: none;
    font-size: 14px;
    height: auto;
    border-bottom: 1px solid $pb-border;
    padding-bottom: 4px;

    strong {
      color: $p-main;
    }

    &:before {
      content: none;
    }

    p {
      margin: 0;
      line-height: 1.2;
    }
  }

  .current-reset-filter, .reliefweb--removefacets {
    color: $pb-text;
    font-size: 14px;
    position: relative;
    margin: 12px 0;

    a {
      background: none;
      width: 100%;
      height: 16px;
      position: absolute;
      top: 10px;
      padding: 0;
      margin: 0;

      &:before, &:after {
        content: "";
        width: 1px;
        height: 16px;
        background: $pb-text;
        position: absolute;
        top: 0;
        left: 6px;
      }

      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }

      &:hover, &:focus {
        &:before, &:after {
          background: $p-main;
        }

        & + span {
          color: $p-main;
        }
      }
    }

    span {
      padding-left: 24px;
    }

    &.reliefweb--clearall, &.reliefweb--removefacets {
      a {
        position: relative;
        color: $pb-text;
        font-weight: normal;
        padding-left: 24px;
        top: auto;
        display: block;
        height: auto;

        &:before, &:after {
          top: 2px;
        }

        &:hover, &:focus {
          text-decoration: none;
          color: $p-main;
        }
      }
    }
  }


  .chosen-single, .form-control, .search {
    border: none;
    border-radius: 0;
    background: none;
    box-shadow: none;
    height: auto;
    padding: 8px 0;
    transition: padding 0.3s ease;
    color: $pb-text;
    font-size: 14px;
    font-weight: normal;
  }

  .chosen-container {
    width: 100%!important;
  }

  .chosen-container-active {
    background: white;

    .chosen-single {
      background: none;
      box-shadow: none;
      border: none;
      padding-left: 8px;
    }
  }

  .chosen-with-drop {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  }

  .chosen-drop {
    border: none;
    border-radius: 0;
  }

  .chosen-container-single .chosen-single div {
    width: 6px;
    height: 6px;
    border-right: 1px solid $pb-text;
    border-bottom: 1px solid $pb-text;
    transform: rotate(45deg);
    right: 8px;
    bottom: 18px;
    top: auto;

    b {
      display: none;
    }
  }

  .search-choice-close {
    bottom: 14px;
    top: auto;
  }

  .form-control, .search {
    height: 40px;
    padding-left: 24px;

    &:focus {
      background: white;
      outline: none;
    }
  }

  .text-search .input-group, #block-hid-profiles-filters-organization {
    position: relative;

    &:before {
      content: "";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      width: 16px;
      height: 16px;
      position: absolute;
      bottom: 8px;
      font-size: 12px;
      left: 2px;
      color: $pb-text;
      z-index: 1;
    }
  }

  #block-hid-profiles-filters-organization {
    &:before {
      bottom: 10px;
    }
  }

  ::-webkit-input-placeholder { 
    color: $pb-text;
  }
  ::-moz-placeholder {
    color: $pb-text;
  }
  :-ms-input-placeholder { 
    color: $pb-text;
  }

  .block-hid-verified {
    padding: 10px 0 5px 0;

    label {
      font-weight: normal;
      font-size: 14px;
      display: inline-block;
    }

    .verified-icon {
      vertical-align: text-bottom;
    }
  }
}

.reliefweb--sidebar {
  padding: 10px 15px 15px 15px;
}

.reliefweb--removefacets {
  h2 {
    font-size: 14px;
    color: $pb-text;    
  }

  li {
    margin-bottom: 8px;
  }

}

.reliefweb--facet {

  .invisible {
    height: 0;
    margin: 0;
  }

  .processed {
    display: none;
  }

}
