//——————————————————————————————————————————————————————————————————————————————
// Common Design: Variables
//
// Don't use any maps directly. Please refer to `_cd-mixins.scss` partial.
//——————————————————————————————————————————————————————————————————————————————

//
// Grid Breakpoints
//
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1400px
) !default;

//
// CD Breakpoints correspond to the following grid breakpoints:
//
$cd-breakpoints: (
  tablet: #{map-get($grid-breakpoints, 'md')},
  desktop: #{map-get($grid-breakpoints, 'lg')},
  xlarge: #{map-get($grid-breakpoints, 'xl')}
);


//——————————————————————————————————————————————————————————————————————————————
// Measurements
//——————————————————————————————————————————————————————————————————————————————

// @TODO: get rid of this thing
$cd-base-unit: 8px;
$cd-site-padding: $cd-base-unit;

$cd-max-body-width: 1400px;
$cd-max-width: 1220px;

$cd-container-padding: 12px;
$cd-container-padding-tablet: 24px;
$cd-container-padding-xlarge: 40px;

$cd-global-header-height: 35px;
$cd-site-header-height: 60px;


//——————————————————————————————————————————————————————————————————————————————
// Colours
//——————————————————————————————————————————————————————————————————————————————

// Colour palette
$cd-ocha-blue: #026CB6;
$cd-dark-blue: #025995;
$cd-bright-blue: #80CBFF;
$cd-light-blue: #9EC5E2;
$cd-lighter-blue: #B7E0FF;
$cd-light-grey: #F2F2F2;
$cd-mid-light-grey: #CCCCCC;
$cd-mid-grey: #595959;
$cd-dark-grey: #4A4A4A;
$cd-dark-bluey-grey: #D3DDE5;
$cd-mid-bluey-grey: #E6ECF1;
$cd-light-bluey-grey: #F2F5F8;
$cd-highlight-red: #EB5C6D;
$cd-white: #FFFFFF;
$cd-black: #000000;

// This shade of red has been selected based on WCAG AAA requirements for contrast.
$cd-contrast-red: #E00000;


// Custom palette
$hrinfo-red: #A02837;
$hrinfo-dark-red: darken(#A02837, 5%);
$hrinfo-higlight-red: #F15156; // To be used on white background.
$hrinfo-light: #FFC7C9; // To be used on red background.
$hrinfo-higlight-blue: #67AAF9; //


// Background colours
$cd-site-bg-color: $cd-mid-bluey-grey;
$cd-site-bg-color--dark: darken($cd-site-bg-color, 5%);
$cd-site-bg-color--light: #F0F5F9;
$cd-white-bg-color: $cd-white;
$cd-primary-bg-color: $hrinfo-red;
$cd-dark-primary-bg-color: $hrinfo-dark-red;
$cd-dark-bg-color: $cd-dark-bluey-grey;
$cd-mid-bg-color: $cd-mid-bluey-grey;
$cd-light-bg-color: $cd-light-bluey-grey;

// Border colours
$cd-border-color: $cd-mid-bluey-grey;
$cd-bright-border-color: $cd-bright-blue;
$cd-light-blue-border-color: $cd-light-blue;
$cd-white-border: #FFF;

// Text colours
$cd-white-text-color: #FFF;
$cd-default-text-color: $cd-dark-grey;
$cd-dark-text-color: #000;
$cd-blue-text-color: $cd-ocha-blue;
$cd-bright-blue-text-color: $cd-bright-blue;


// Custom colour palette from radix? panels? Lisa to find out
$p-contacts: #a494d8;
$p-documents: #27b298;
$p-visuals: #60b75a;
$p-assessments: #a8b761;
$p-activities: #ffd247;
$p-events: #ffb347;

$p-meetings: #266ed9;
$p-trainings: #8254c8;
$p-workshops: #cf4cb2;
$p-conferences: #cf3661;

// Get rid of this eventually
$p-comp: $cd-ocha-blue;

// Powered by colours
$pb-heading-text: #1977d4;
$pb-sub-heading-text: #666;
$pb-text: #3d3d3f;
$pb-link-text: #1565b5;
$pb-grey-bg: #e6e6e6;
$pb-border: #ccc;
$pb-btn-color: $pb-link-text;
$pb-type-bf: #e5edf5;

//——————————————————————————————————————————————————————————————————————————————
// Fonts
//——————————————————————————————————————————————————————————————————————————————

$cd-font: helvetica, arial, sans-serif;

@import url(https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700);

.fa-at:before {
  content: "\f1fa";
}


//——————————————————————————————————————————————————————————————————————————————
// Font sizes
//——————————————————————————————————————————————————————————————————————————————

$cd-font-size-tiny: 12;
$cd-font-size-small: 14;
$cd-font-size-base: 16;
$cd-font-size-medium: 20;
$cd-font-size-xlarge: 30;


//——————————————————————————————————————————————————————————————————————————————
// z-indices
//——————————————————————————————————————————————————————————————————————————————

$zindex: (
  default: 1,
  hidden: -1,
  sidebar: 110,
  sidebar-underlay: 100,
  search: 199,
  dropdown: 200,
  skip-link: 1000
);



