@import "compass/utilities/sprites";
@import "compass/layout/sticky-footer";
@import "footer-logos/*.png";
@include sticky-footer(210px);
@include all-footer-logos-sprites;

body #footer {
  margin: 0;
}

#footer {
  background-color: #F8F8F8;

  @media screen and (max-width: $screen-md) {
    height: auto;
  }

  .container {

    padding-bottom: 20px;
    padding-top: 1em;

    #footer-second {
      img {
        margin: 10px;
        max-width: 100%;
        max-height: 45px;
      }
      @media screen and (max-width: $screen-md) {
        .col-md-3 {
          float: left;
          .column {
            width: 105px;
            float: left;
          }
        }
      }
    }

    #footer-third {
      @media screen and (max-width: $screen-md) {
        clear: both;
        &:after {
          clear: both;
          content: '';
        }
      }
    }

    .footer-logo {
      margin: 10px;
      height: 40px;
      opacity: 1;
      @include transition(all 0.2s ease-in-out);
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
