// Menu
// Styles for Menus and Navs
// --------------------------------------------------
@import "compass/utilities/sprites";
@import "search/checks/*.png";


//Hide secondary nav where og-context not present (nav is same as main menu)
#secondary-navigation {
  display: none;

  .og-context & {
    display: block;
  }

  border-bottom: 2px solid #CFD1D2;
  margin-top: 10px;

  a {
    color: $text-color;
    position: relative;
    margin-bottom: 2px;

    &:after {
      content: "";
      width: 100%;
      height: 0;
      position: absolute;
      left: 0;
      bottom: -2px;
      border-bottom: 2px solid transparent;
    }

    &.active {
      &:after {
        border-color: $p-main;
      }
    }

    &:hover, &:focus {
      color: $p-main;
    }

  }

  // highlight first item in secondary nav  
  .menu li {
    float: none;

    &:first-child {
      font-weight: bold;
      text-transform: uppercase;
      padding-right: 30px;
    }
  }

  @media (min-width: $screen-xs) {
    .menu li {
      float: left;
    }

    a {
      margin-bottom: 0;
    }
  }
}

// Add spacing below header if no og-context menu and not homepage
.cd-hri-header {
  margin-bottom: 35px;

  .og-context &, .front & {
    margin-bottom: 0;
  }
}

// Hide titles of menu blocks
.block-menu h2,
.block-menu-block h2,
.block-og-menu h2,
.block-locale h2 {
  display: none;
}

.navbar {
  min-height: 0;
}

.nav-tabs {
  background-color: $tabs-background;

  > li > a {
    padding: 4px 15px;
    text-transform: uppercase;
    font-weight: bold;
    min-width: 110px;
    text-align: center;
    color: $tabs-text;
    background: none;
    font-size: 14px;
    border-radius: 0;
    margin: 0;
    border: none;
    font-family: $font-family-sans-serif;

    &.active, &:hover {
      border: none;
      color: $tabs-active-text;
      background-color: $tabs-active-background;
    }
  }

  > li.active > a,
  > li.active > a:hover,
  > li.active > a:focus {
    color: $tabs-active-text;
    background-color: $tabs-active-background;
  }
}

#top .nav-tabs {
  margin: 0;
  border-bottom: none;
  background-color: transparent;

  > li {
    border: none;

    @media screen and (max-width: $screen-sm) {
      float: none;
    }

    > a {
      padding: 4px 15px;
      text-transform: uppercase;
      font-weight: 600;
      min-width: 130px;
      text-align: center;
      color: #707070;
      background-color: #C1C1C1;
      background-color: rgba(145, 145, 145, 0.25);
      font-family: Exo;
      font-size: 16px;
      border-radius: 4px 4px 0px 0px;
      border: 1px solid transparent;
      margin-right: 2px;

      @media screen and (max-width: $screen-sm) {
        border-radius: 0;
        border: 0 !important;
      }

      &.active,
      &.active:hover,
      &:hover {
        color: #bc2e3b;
        background-color: #FFF;
        border: 0;
        border-bottom: 1px solid #FFF;
        position: relative;
        z-index: 2;
      }
    }

  }

  > li.active > a,
  > li.active > a:hover,
  > li.active > a:focus {
    color: #bc2e3b;
    background-color: #fff;
  }

  .open > a, .open > a:focus {
    border: none;
    background: #AEAEAE;
    color: white;
  }
}

.page-node-blog,
.page-node-offices,
.page-node-datasets,
.page-node-assessments,
.page-node-events,
.page-node-contacts,
.page-node-documents {
  @media screen and (max-width: $screen-md) {
    #content-wrapper {
      padding-left: 0;
      padding-right: 0;
    }
    #content {
      max-width: 100%;
    }
  }
  .nav-tabs.primary {
    margin-top: 6px;
    @media screen and (max-width: $screen-md) {
      margin-top: 36px;
    }
  }
}

#hr-space-tab {
  &.white {
    a.dropdown-toggle {
      background: #FFF;
      position: relative;
      z-index: 1;
      &:hover {
        border-color: #FFF;
      }
    }
  }
  li.open {
    a,
    a:hover {
      color: $p-main;
      @include background-image(linear-gradient(#fcfcfc, #F6F6F6));
    }
    ul {
      @include background-image(linear-gradient(#F6F6F6, #E6E6E6));
      min-width: 130px;
      box-shadow: 0px 1px 0px #CBCBCB;
      border-radius: 0px 0px 5px 5px;
      li {
        &.first {
          margin-top: -8px;
          &:before,
          &:after {
            background-color: #dbdbdb;
            height: 1px;
            display: block;
            content: '';
            box-shadow: 0px 1px 0px #FFF;
            margin: 4px 10px;
          }
        }
        a {
          color: #767676;
          font-size: 0.8em;
          padding: 2px 11px;
          background: none;
          a:hover {
            color: $p-main;
            background: none;
          }
        }
      }
    }
  }
}

.navbar-collapse {
  padding: 0;
}

.navbar-default {
  background-color: transparent;
  border: none;
  margin: 0;
}

.navbar {
  button, a.btn.btn-default {
    background-color: #aeadad;
    color: white;
    border: 0;
    margin-right: 2px;
    line-height: 1.428571429;
    border: 1px solid rgba(0, 0, 0, 0);
    @include border-radius(4px 4px 0 0);
    font-size: 12px;
    text-transform: none;
    position: static;

    &:hover {
      background-color: #BBB;
    }
  }

  .dropdown-menu {
    margin: 0;
    border: none;
    background: #aeaeae;
    @include border-radius(0px);
    margin: 0 2px 0 0;

    ul, li {

      margin: 0;
      padding: 0;

      a {
        color: white;
        font-size: 12px;
        padding: 2px 16px;
        text-decoration: none;
        display: block;

        &:hover, &.active {
          background-color: #BBB;
        }
      }

    }

  }
}

.container.header {

  background-color: #FFFFFF;
  margin-bottom: 35px;
  min-height: 120px;
  position: relative;

  #navigation {

    .navbar-collapse.in {
      @media screen and (max-width: $screen-sm) {
        overflow: visible;
      }
    }

    left: 0px;
    bottom: 0px;
    position: absolute;
    line-height: 1;
    height: 45px;
    width: 100%;

    ul.menu {

      position: relative;
      top: 17px;
      padding-left: 10px;

      @media screen and (max-width: $screen-sm) {
        background: white;
        z-index: 3;
        margin-top: -23px;
      }

      li {

        position: static;
        margin-left: 0;

        @media screen and (max-width: $screen-sm) {
          float: none;
        }

        a {
          font-size: 12px;
          text-transform: uppercase;
          color: #707070;
          font-weight: 600;
          @include border-radius(0px);
          padding: 8px 10px;
          padding-bottom: 13px;
          font-family: Exo;
          background: none;

          &.active-trail,
          &.active,
          &:hover {
            color: #bc2e3b;
            background-color: transparent;
            border-bottom: 5px solid #b2b2b2;
            padding-bottom: 8px;
            position: relative;
            z-index: 2;

            @media screen and (max-width: $screen-sm) {
              border: none;
              padding-bottom: 13px;
            }
          }

        }

        ul {

          position: absolute;
          left: 0;
          width: 100%;
          background-color: #E2E2E2;
          background-color: rgba(0, 0, 0, 0.06);
          top: 28px;
          height: 33px;
          display: none;

          @media screen and (max-width: $screen-sm) {
            position: static;
            background-color: #FAFAFA;
            height: auto;
          }

          li {

            border-top: 5px solid #B2B2B2;

            a:hover,
            a.active {
              border: none;
            }

            @media screen and (max-width: $screen-sm) {
              border: none;
              padding-left: 13px;
            }

          }

        }
      }
    }
  }

  #logo {
    padding: 20px 22px 0;
    display: inline-block;
    img {
      max-height: 70px;
    }

    @media screen and (max-width: $screen-sm) {
      img {
        max-width: 250px;
        height: auto;
      }
    }
  }

  #header-image {
    position: absolute;
    right: 0;
    z-index: 0;
    top: 0;
  }

  .region-branding {
    position: absolute;
    z-index: 5;
    right: 0;
    top: 0;

    @media screen and (max-width: $screen-sm) {
      top: 45px;
    }

    form {
      margin-right: 5px;
      margin-top: 14px;
    }
  }
}

#sidebar-first {

  .block {

    margin: 0;
    background-color: transparent;

    h2 {
      margin: 9px 0;
      font-size: 15px;
      font-weight: normal;
    }

    &.block-og-menu {

      ul.menu {

        > li.expanded {
          margin-bottom: 15px;
          padding-top: 12px;
          padding-bottom: 12px;
        }

        li {
          background-color: #ececec;
          padding: 0 7px;

          a {
            padding-left: 14px;
          }

          .nolink {
            font-weight: bold;
            text-transform: uppercase;
            color: #525252;
            font-size: 13px;
            margin-bottom: 5px;
            display: block;

            .caret {
              float: right;
              margin-top: 7px;
              margin-right: 7px;
              border-top: 4px solid white;
            }

            &.collapsed > .caret {
              border-left: 4px solid transparent;
              border-right: 4px solid transparent;
              border-top: 0;
              border-bottom: 4px solid white;
            }
          }

          ul {
            padding-left: 14px;
            list-style: none;
            list-style-image: none;
            list-style-type: none;

            li {
              list-style: none;
              list-style-image: none;
              list-style-type: none;
              margin-bottom: 5px;
              display: block;
              padding: 0;
              margin-bottom: 0;

              &.first {
                padding-top: 0;
              }
              &.last {
                padding-bottom: 0;
              }

              a {
                display: block;
                padding-left: 20px;

                &:hover {
                  background-color: rgba(255, 255, 255, 0.2);
                }
              }
            }
          }
        }

      }

    }

  }

}

#top {
  .navbar-collapse.collapse {
    display: block !important;
  }
  .navbar-toggle {
    display: none !important;
  }
  .navbar-right {
    float: right !important;
  }

  #block-hr-bookmarks-hr-favorite-spaces {
    float: left;
  }
}

@media screen and (max-width: $screen-sm) {
  #block-og-menu-single-menu,
  #block-system-main-menu {
    .navbar-toggle {
      border-radius: 4px;
      border: none;
      margin-right: 20px;
      margin-top: -9px;
      z-index: 9;
      position: relative;
      .icon-bar {
        background-color: #FFF;
      }
    }
  }
}

#block-locale-language {
  button,
  a {
    text-transform: lowercase;
  }
}




