//
// Styles for Nodes
// --------------------------------------------------

@import "compass/utilities/sprites";
@import "node/*.png";

// Follow flag
#block-hr-notifications-hr-follow {
  text-align: center;
}

#block-hr-notifications-hr-follow a {
  color: white !important;
}

// Responsive styles for images
.field-name-body img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

// Content types
.page-node.node-type-hr-operation,
.page-node.node-type-hr-document,
.page-node.node-type-hr-infographic,
.page-node.node-type-hr-news,
.page-node.node-type-hr-event,
.page-node.node-type-hr-dataset,
.page-node.node-type-hr-indicator,
.page-node.node-type-hr-contact,
.page-node.node-type-hr-assessment,
.page-node.node-type-hr-office,
.page-node.node-type-hr-disaster:not(.hr-group-context),
.page-node.node-type-hr-funding,
.page-node.node-type-hr-discussion,
.page-node.node-type-acc-incident,
.page-node.node-type-hr-toolbox-item,
.page-user {
  #page-header .title {
    display: none;
  }
}

.node-full.node-hr-document,
.node-full.node-hr-infographic,
.node-full.node-hr-news,
.node-full.node-hr-event,
.node-full.node-hr-dataset,
.node-full.node-hr-indicator,
.node-full.node-hr-contact,
.node-full.node-hr-assessment,
.node-full.node-hr-office,
.page-node.node-type-hr-disaster:not(.hr-group-context) .node-full.node-hr-disaster,
.node-full.node-hr-funding,
.node-full.node-hr-discussion,
.node-full.node-acc-incident,
.node-full.node-hr-toolbox-item,
.user-full {

  padding-bottom: 10px;

  .container-fluid {
    background-color: #F9F9F9;
    border: 1px solid #FFF;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    border-right: 5px solid $p-comp;

    .row {
      overflow: hidden;

      .radix-layouts-content {
  min-height: 400px;
  .panel-separator {
    display: inline-block;
  }

  .pane-node-title {
    border-bottom: 1px dotted #8f8f8f;

    h2 {
      font-size: 18px;
      font-weight: bold;
      @include node-sprite(generic);
      color: $p-comp;
      padding: 20px 20px 20px 79px;
      max-height: 55px;
    }
  }

  .pane-user-name {
    border-bottom: 1px dotted #8f8f8f;

    .pane-content {
      font-size: 18px;
      font-weight: bold;
      @include node-sprite(user);
      color: $p-comp;
      padding: 20px 20px 20px 79px;
      max-height: 55px;
    }
  }


  .pane-node-hr-core-share-button,
  .pane-node-field-files-collection {
    display: inline-block;
  }

  .field-name-field-users-ref .content {
    min-height: 0;
  }
      }

      .radix-layouts-sidebar {
  margin-bottom: -99999px;
  padding: 0;
  padding-bottom: 99999px;
  background-color: #F1F1F1;

  .panel-pane {
    padding-bottom: 2em;
    border-bottom: 1px dotted #8f8f8f;

    .field-label,
    .pane-title {
      color: #8f8f8f;
      font-weight: normal;
      font-size: 12px;
    }

    .field-item,
    .pane-content {
      padding-left: 10px;
      font-size: 12px;
      color: #555555;
      font-weight: bold;
      a {
        color: #55B1C8;
      }
    }

    &.pane-node-og-group-ref {
      background-color: #E0E0E0;
    }
  }
      }
    }
  }

  &.node-hr-news .container-fluid {
    .row .radix-layouts-content .pane-node-title h2 {
      @include node-sprite(blog);
    }
  }

  &.node-hr-document .container-fluid {
    border-right: 5px solid $p-documents;
    .row .radix-layouts-content .pane-node-title h2 {
      @include node-sprite(document);
      color: $p-documents;
    }
  }

  &.node-hr-infographic .container-fluid {
    border-right: 5px solid $p-visuals;
    .row .radix-layouts-content .pane-node-title h2 {
      @include node-sprite(visual);
      color: $p-visuals;
    }
  }

  &.node-hr-event .container-fluid {
    border-right: 5px solid $p-events;
    .row .radix-layouts-content .pane-node-title h2 {
      @include node-sprite(event);
      color: $p-events;
    }
  }

  &.node-hr-contact .container-fluid {
    border-right: 5px solid $p-contacts;
    .row .radix-layouts-content .pane-node-title h2 {
      @include node-sprite(contact);
      color: $p-contacts;
    }
  }

  &.node-hr-assessment .container-fluid {
    border-right: 5px solid $p-assessments;
    .row .radix-layouts-content .pane-node-title h2 {
      @include node-sprite(assessment);
      color: $p-assessments;
    }
  }

  &.node-hr-office .container-fluid {
    .row .radix-layouts-content .pane-node-title h2 {
      @include node-sprite(office);
    }
  }

  &.node-hr-dataset .container-fluid {
    .row .radix-layouts-content .pane-node-title h2 {
      @include node-sprite(dataset);
    }
  }
}

// Search results

.node-search-result {

  background-color: #F9F9F9;
  border: 1px solid #FFF;
  margin: 1%;
  padding: 0;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px !important;
  position: relative;

  &:after {
    content: '';
    background-color: $p-comp;
    display: block;
    width: 5px;
    height: 10px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }

  > h2 {
    font-size: 16px;
    font-weight: bold;
    @include node-sprite(generic);
    padding: 20px 20px 20px 79px;
    max-height: 55px;
    margin-left: 18px;
    margin-top: 16px;
    min-height: 55px;

    @media screen and (max-width : $screen-sm) {
      font-size: 14px;
      padding-top: 5px;
    }

    a {
      color: $p-comp;
    }
  }

  &.node-hr-news {
    h2 {
      @include node-sprite(blog);
    }
  }

  &.node-hr-document {
    h2 {
      @include node-sprite(document);
      a {
        color: $p-documents;
      }
    }
    &:after {
      background-color: $p-documents;
    }
  }
  &.node-hr-event {
    h2 {
      @include node-sprite(event);
      a {
        color: $p-events;
      }
    }
    &:after {
      background-color: $p-events;
    }
  }
  &.node-hr-infographic {
    h2 {
      @include node-sprite(visual);
      a {
        color: $p-visuals;
      }
    }
    &:after {
      background-color: $p-visuals;
    }
  }
  &.node-hr-contact {
    h2 {
      @include node-sprite(contact);
      a {
        color: $p-contacts;
      }
    }
    &:after {
      background-color: $p-contacts;
    }
  }

  &.node-hr-assessment {
    h2 {
      @include node-sprite(assessment);
      a {
        color: $p-assessments;
      }
    }
    &:after {
      background-color: $p-assessments;
    }
  }

  &.node-hr-office {
    h2 {
      @include node-sprite(office);
    }
  }

  &.node-hr-dataset {
    h2 {
      @include node-sprite(dataset);
    }
  }

  &.node-hr-discussion {
    .panel-pane.pane-node-author .pane-title,
    .panel-pane.pane-node-author .pane-content,
    .panel-pane.pane-node-created .pane-title,
    .panel-pane.pane-node-created .pane-content
     {
      display: inline !important;
    }
  }

  @media screen and (max-width : $screen-sm) {
    margin-left: 0;
    margin-right: 0;
  }

  .row {

    margin: 0;

    &:after {
      clear: both;
    }


    .panel-panel {

      &.left {
        padding: 0;
        margin: 20px 0;

        img {
          border: 4px solid #FFF;
          float: left;
          box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
          margin-top: -18px;
          margin-left: 18px;
          line-height: 0;
        }

        .view {
          margin: 0 !important;
        }
      }

      &.right {
        width: 83%;
      }
      .panel-pane {

        margin-bottom: 5px;

        .pane-title{
            color: #8F8F8F;
            font-weight: normal;
            font-size: 13px;
            margin-bottom: 0.5px;
        }

        .pane-content {
            position: relative;
            display: block;
        }
        .form-item,
        .form-group {
          margin-top: 0;
          margin-bottom: 0;
        }

        .btn-group {
          float: right;

          .dropdown-menu {
            margin-top: -16px;
            margin-left: 6px;
            font-size: 11px;
          }
        }

        .btn {
          float: right;
          margin: 8px;
        }

        .field {
          .field-label {
            color: #8f8f8f;
            font-weight: normal;
            width: 130px;
            display: inline-block;
            *display: inline;
            *zoom: 1;
          }
          .field-items {
            color: #606060;
          }
        }

      }

      .pane-hr-node-links {
        text-align: right;
      }

      .pane-hr-node-links div {
        display: inline-block;
      }
    }
  }

}

.node-type-hr-operation {

  .hr-highlighted {
    margin-top: -11px;
    margin-bottom: 40px;
    .pane-content ul {
      padding-left: 19px;
      li {
        margin-bottom: 5px;
        color: #333333;
      }
    }
  }

  .pane-hr-documents-panes-list,
  .pane-hr-infographics-panes-list {
    .view {
      margin: 0 !important;
    }
  }
}

#block-hr-layout-hr-layout-share-links {

  .content {
    h2 {
      margin: 0 0 -10px;
      text-align: center;
      font-weight: bold;
      font-size: 1.1em;
      span {
        text-transform: uppercase;
      }
    }
    border-radius: 10px;
    background-color: #bbd9e1;
    color: $p-comp;
    padding: 10px;
    hr {
      border-top: 1px dotted white;
      clear: both;
    }
    .cluster {
      margin: 0px 27px -10px 56px;
      text-align: right;
      font-weight: bold;
      .image {
        width: 38px;
        height: 38px;
        background: grey;
        float: right;
        margin-left: 10px;
        margin-bottom: 10px;
      }
    }
    .manager {
      font-size: 1.1em;
      color:$p-comp;
      text-align: center;
    }
    .space-follow {
      position: relative;
      .flag-throbber {
        position: absolute;
      }
      .flag-wrapper.flag-waiting {
        display: block;
        a {
          i {
            display: none;
          }
        }
        @-ms-keyframes spin {
          from { -ms-transform: rotate(0deg); }
          to { -ms-transform: rotate(360deg); }
        }
        @-moz-keyframes spin {
          from { -moz-transform: rotate(0deg); }
          to { -moz-transform: rotate(360deg); }
        }
        @-webkit-keyframes spin {
          from { -webkit-transform: rotate(0deg); }
          to { -webkit-transform: rotate(360deg); }
        }
        @keyframes spin {
          from {transform:rotate(0deg);}
          to {transform:rotate(360deg);}
        }
        .flag-throbber {
          right: 41px;
          top: 2px;
          background: none;
          width: 21px;
          height: 16px;
          line-height: 16px;
          color:white;
          font-size: 1.4em;
          text-align: center;
          -webkit-animation: spin 2s infinite linear;
          -moz-animation: spin 2s infinite linear;
          -ms-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
          display: block;
          font-size: 0;
          padding: 0;
          &:after {
            font-family: FontAwesome;
            content:"\f110";
            font-size: 17px;
          }
        }
      }
    }
  }

  a.btn {
    color:white;
    display: block;
    margin: 6px 27px;
    font-size: 0.95em;
    text-transform: uppercase;
    text-align: left;
    position: relative;
    i {
      position: absolute;
      right: 10px;
      float: right;
      font-size: 1.4em;
    }
  }
}

#views-form-og-members-admin-default {
  thead {
    tr {
      th, .ui-widget-header{
        a {
          color: white;
        }
      }
      th.views-field.active a{
        color: $p-comp;
      }
    }
  }
}

#block-hr-operations-operations-status {
  .content {
    .operation-status {
      border-radius: 10px;
      text-align: center;
      color:white;
      position: relative;
      text-transform: uppercase;
      font-weight: bold;
      font-style: italic;
      padding: 8px;
      background-color: $p-comp-old;
      font-family: Exo;
      font-size: 1.1em;
      &.archived {
        background-color: $p-main;
      }
      i {
        display: block;
        position: absolute;
        right: 10px;
        top: 50%;
        border: 2px solid white;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        line-height: 18px;
        margin-top: -10px;
      }
    }
  }
}

