//
// Styles for panels and panes.
// --------------------------------------------------
@import "compass/utilities/sprites";
@import "compass/css3/images";
@import "icons/38/Clusters/grey/*.png";
@import "icons/38/Clusters/*.png";

.front {
	.panel-pane {
		margin-bottom: 30px;

		.pane-title {
			font-size: 13px;
			color: $pane-title;
			border-bottom: 1px dotted $pane-title;
			text-transform: uppercase;
			font-weight: bold;
			padding-bottom: 7px;
			margin-bottom: 20px;
		}
		.pane-content {
			a {
				color: $p-main;
			}
		}

		@media screen and (max-width : $screen-md) {
			.row {
				width: 50%;
				float: left;
				margin: 0;
				.col-sm-6.text-center {
					text-align: left;
					width: 100px;
				}
			}
			br {
				display: none;
			}
		}

		ul {
			padding-left: 0;
		}
		
		li {
			list-style-type: none;
		}
	}

	.pane-1 {
		min-height: 100px;
	}

}

.hr-highlighted {
	background-color: #F9F9F9;
	padding: 7px;
	border: 1px solid #FFF;
	@include box-shadow(rgba(black, 0.2) 1px 2px 2px);
	margin: 20px 0px;

  .panel-pane {
    &.pane-hr-infographics-panes-list {
      .pane-title { &:after {  content: "\f041"; } } // map-marker
    }
    &.pane-hr-documents-panes-list {
      .pane-title { &:after {  content: "\f016"; } } // file-o
    }
  	.pane-title {
  		font-size: 13px;
  		text-transform: uppercase;
  		font-weight: bold;
  		padding-bottom: 7px;
  		margin-bottom: 10px;
  		border-bottom: 1px dotted #dedede;
  		margin-top: 2px;
		color: $pane-title;
      &:after {
        font-family: FontAwesome;
        float: right;
      }
  	}

  	.pane-content {
  		padding: 0 7px;

  		ul {
  			padding-left: 14px;
  			color: $gray-dark;
  		}
    }
	}

  .field-name-field-infographics.field-type-entityreference {

    .field-item .node {
      margin-bottom: 1em;
    }
  }

  .field-name-field-documents.field-type-entityreference {

    .field-item .node {
      margin-bottom: 1em;
    }
  }
}

// Hide radio inputs in layer switcher to replace by images
#hr-bundles-layer-switcher {

  .baseLbl,
  .baseLayersDiv,
  .dataLbl,
  br,
  span,
  input.olButton {
    display: none !important;
  }

  label.olButton {
    cursor: pointer;
  }

  .dataLayersDiv {
    text-align: center;
  }

  input[type="radio"] + label {
    background-repeat: no-repeat;
    height: 38px;
    width: 38px;
    display: inline-block;
    text-indent: -999px;
    overflow: hidden;
  }

  input[value="Camp Coordination / Management"] + label {
    @include grey-sprite(cccm);
  }

  input[value="Camp Coordination / Management"]:checked + label,
  input[value="Camp Coordination / Management"] + label:hover {
    @include Clusters-sprite(cccm);
  }

  input[value="Early Recovery"] + label {
    @include grey-sprite(early-recovery);
  }

  input[value="Early Recovery"]:checked + label,
  input[value="Early Recovery"] + label:hover {
    @include Clusters-sprite(early-recovery);
  }

  input[value="Education"] + label {
    @include grey-sprite(education);
  }

  input[value="Education"]:checked + label,
  input[value="Education"] + label:hover {
    @include Clusters-sprite(education);
  }

  input[value="Emergency Shelter and NFI"] + label {
    @include grey-sprite(shelters);
  }

  input[value="Emergency Shelter and NFI"]:checked + label,
  input[value="Emergency Shelter and NFI"] + label:hover {
    @include Clusters-sprite(shelters);
  }

  input[value="Food Security"] + label {
    @include grey-sprite(food-security);
  }

  input[value="Food Security"]:checked + label,
  input[value="Food Security"] + label:hover {
    @include Clusters-sprite(food-security);
  }

  input[value="Health"] + label {
    @include grey-sprite(health);
  }

  input[value="Health"]:checked + label,
  input[value="Health"] + label:hover {
    @include Clusters-sprite(health);
  }

  input[value="Logistics"] + label {
    @include grey-sprite(logistics);
  }

  input[value="Logistics"]:checked + label,
  input[value="Logistics"] + label:hover {
    @include Clusters-sprite(logistics);
  }

  input[value="Nutrition"] + label {
    @include grey-sprite(nutrition);
  }

  input[value="Nutrition"]:checked + label,
  input[value="Nutrition"] + label:hover {
    @include Clusters-sprite(nutrition);
  }

  input[value="Protection"] + label {
    @include grey-sprite(protection);
  }

  input[value="Protection"]:checked + label,
  input[value="Protection"] + label:hover {
    @include Clusters-sprite(protection);
  }


  input[value="Water Sanitation Hygiene"] + label {
    @include grey-sprite(wash);
  }

  input[value="Water Sanitation Hygiene"]:checked + label,
  input[value="Water Sanitation Hygiene"] + label:hover {
    @include Clusters-sprite(wash);
  }

  input[value="Emergency Telecommunications"] + label {
    @include grey-sprite(emergency-telecommunications);
  }

  input[value="Emergency Telecommunications"]:checked + label,
  input[value="Emergency Telecommunications"] + label:hover {
    @include Clusters-sprite(emergency-telecommunications);
  }
}

/* Linkit and media fix */
.linkit-wrapper,
.media-wrapper {
  z-index: 5000;
}

/* Featured documents and maps */
.fieldable-panels-pane .node-teaser.node-hr-infographic .container-fluid,
.fieldable-panels-pane .node-teaser.node-hr-document .container-fluid {
  background-image: url('../images/backgrounds/BG_beige_grey.jpg');
  background-repeat: no-repeat;
  padding-right: 0;
  padding-left: 0;

  .pane-hr-infographics-panes-thumbnail,
  .pane-hr-documents-panes-thumbnail {
    height: 120px;
  }

  .pane-node-title {
    background-color: #67A3AB;
    min-height: 50px;
    opacity: 0.8;
    text-align: center;
    padding-top: 1em;

    a {
      color: white;
      font-weight: bold;
    }
  }
}

.fieldable-panels-pane .node-teaser.node-hr-contact .container-fluid {
  .pane-node-title {
    margin-top: 1em;
  }

  .pane-node-field-organizations,
  .pane-node-field-job-title-other,
  .pane-node-field-email,
  .pane-node-field-phones {
    padding-left: 10px;
  }
}

/* Philippines */
.og-context-node-84 {
  .fieldable-panels-pane .node-teaser.node-hr-infographic .container-fluid,
  .fieldable-panels-pane .node-teaser.node-hr-document .container-fluid {
    background-image: url('../images/backgrounds/BG_green_2.jpg');
  }
}

/*Toolbox page*/

.pane-hr-toolbox-panes-items {

  .views-field-title {
    color: #525252;
    margin-top: 1em;
    margin-bottom: 1em;
    display: inline-block;
  }

  .views-field-field-files li,
  .views-field-field-links li {
    color: $brand-primary;
  }

  img.file-icon {
    display: none;
  }

  .hr-toolbox-tools {
    .views-field-field-files {
      ul {
        list-style-type: none;
      }

      span.file{
        display: inline-block;
        background-image: url('../images/icons/38/Applications/APP_tools.png');
        background-repeat: no-repeat;
        padding-left: 50px;
        padding-top: 10px;
        height:40px;
        font-weight: bold;
        margin-left: -18px;
        margin-top: 15px;
      }
    }
  }

  a{
    color:$brand-primary;
  }

}

/* Carousel */
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  margin: auto;
  width: 100%;
}

/* Toolbox slideshow */
.page-node-22 .carousel {

  .carousel-indicators {
    text-align: right;
    left: 0;
    width: 100%;
    text-align: right;
    margin-left: 0;
    bottom: 0;
  }

  .carousel-caption {
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(85, 177, 200, 0.6);
    bottom: 0;
    padding-bottom: 0;
    padding-top: 0;

    h3 {
      color: white;
      text-align: left;
    }
  }

  .carousel-control {
    span {
      padding-top: 80px;
    }
  }
}

/* Toolbox homepage - Bottom text headers */

.hr-toolbox-homepage-bottom-text-header h4{
  color: $gray-dark;
}

/* Add existing content add button */
.panels-section-column {

.panel-default {

 > .panel-heading {
      display: block;
	    clear: both;
	    float: left;
    }
  }
}

/* HR layout standard block */
.hr-layout-operation-standard {

  .nav-tabs {
    margin-bottom: 0;
  }

  .tab-content,
  .tab-pane {
    background-color: $tabs-active-background;
    height: 300px;
  }

  .hr-thumbnail {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  img {
    max-height: 250px;
    margin-left: auto;
    margin-right: auto;
  }

  a.hr-layout-see-more {
    display: block;
    text-align: center;
    margin-top: 1em;
  }

  a.list-group-item {
    border: none;
    background-color: transparent;
    color: $tabs-text;

    &.active,
    &.active:hover,
    &.active:focus {
      color: $tabs-active-text;
      @include background-image(linear-gradient(to bottom right, #ffffff, #e7e7e7));
      border-radius: 0;
    }
  }

}

//Homepage blocks styling.

.panel-pane.pane-block.pane-hr-layout-hr-layout-key-documents, .panel-pane.pane-block.pane-hr-layout-hr-layout-hum-system, .panel-pane.pane-block.pane-hr-operations-operations-dropdown {
  background-color: #F9F9F9;
  padding: 7px;
  border: 1px solid #FFF;
  -webkit-box-shadow: rgba(0,0,0,0.2) 1px 2px 2px;
  box-shadow: rgba(0,0,0,0.2) 1px 2px 2px;

  li {
    margin-bottom: 5px;
  }
  p {
    margin: 0;
    margin-bottom: 5px;
  }
  h4 {
    background-repeat: no-repeat;
    height: 40px;
    padding-left: 50px;
    padding-top: 13px;
  }
}
.panel-pane.pane-block.pane-hr-layout-hr-layout-key-documents {
  h4 {
    background-image:url('../images/icons/38/Homepage/DocumentsIcon38x38.png');
  }
}

.panel-pane.pane-block.pane-hr-layout-hr-layout-hum-system {
  h4 {
    background-image:url('../images/icons/38/Homepage/CoordinationIcon38x38.png');
  }
  .chosen-container {
    margin-top: -5px;
  }
}

.panel-pane.pane-block.pane-hr-operations-operations-dropdown {
  h4 {
    background-image:url('../images/icons/38/Homepage/OperationsIcon38x38.png');
  }
  p {
    margin-left: -15px;
  }
}

