#block-hr-layout-hr-layout-search-rss {

  .content {
    border-radius: 10px;
    background-color: #bbd9e1;
    color: $p-comp;
    padding: 10px;
  }

  a.btn {
    color:white;
    display: block;
    margin: 6px 27px;
    font-size: 0.95em;
    text-transform: uppercase;
    text-align: left;
    position: relative;
    i {
      position: absolute;
      right: 10px;
      float: right;
      font-size: 1.4em;
    }
  }
}
