//
// Styles for Tabs, Messages, ..etc
// --------------------------------------------------

// Social links block

#block-hr-layout-hr-layout-space-links .space-social-media div {
  display: inline-block;
}

#block-hr-layout-hr-layout-space-links .space-social-media,
#block-hr-layout-hr-layout-space-links .field-name-field-email {
  text-align: center;
}

// Buttons
.btn-secondary {
  color: $btn-secondary-color;
  background-color: $btn-secondary-bg;
}


// Sorts block
#block-search-api-sorts-search-sorts {
  text-align: right;
  display: inline-block;
  float: right;

  h2 {
    display: inline;
    font-weight: normal;
    font-size: inherit;
    color: inherit;
  }

  .content,
  .content div,
  .content .form-control,
  .content form {
    display: inline;
    width: auto;
  }
}

#block-search-api-sorts-search-sorts + * {
    clear: right;
}

.hid-key-contact {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 13px;
  font-weight: bold;
  color: white;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: #54b1c8;
  border-radius: 50%;
}

