/**
 * Styles for the Redis Info Report
 */
/* line 4, ../sass/redis_info.scss */
#redis-info {
  margin: 0;
  padding: 0;
}
/* line 8, ../sass/redis_info.scss */
#redis-info li {
  list-style-image: none;
  list-style-type: none;
  min-height: 20px;
}
