//——————————————————————————————————————————————————————————————————————————————
// Button styles
//——————————————————————————————————————————————————————————————————————————————

button, input[type="submit"] {
  -webkit-appearance: none;
  @include font-size($cd-font-size-base);
  color: $cd-dark-grey;
  background: none;
  border: none;
  box-shadow: none;
  font-family: $cd-font;
}

.btn-primary,
.form-actions input[type="submit"] {
  border-radius: 4px;
  background-color: $cd-ocha-blue;
  text-decoration: none;
  font-weight: bold;
  color: $cd-white;
  transition: background 0.3s ease;
  &:hover,
  &:focus {
    background-color: $cd-dark-blue;
    color: $cd-white;
  }
}
