//——————————————————————————————————————————————————————————————————————————————
// Tab styles
//——————————————————————————————————————————————————————————————————————————————

.tabs {
  //background: $cd-site-bg-color--light;
  margin: 18px 0;
  padding: 0;
  display: block;
  @include clearfix;


  > li {
    float: left;
    position: relative;
    display: block;
  }

  > li > a {
    position: relative;
    display: block;
    padding: 4px 15px;
    text-transform: uppercase;
    font-weight: bold;
    @include font-size($cd-font-size-tiny);
    text-align: center;
    background: none;
    border-radius: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    color: $cd-default-text-color;

    @media (min-width:768px) {
      min-width: 110px;
    }

    &.active,
    &:hover {
      border: none !important;
      background-color: $cd-site-bg-color--light;
      color: $hrinfo-red;
    }

    &:hover {
      background-color: $cd-site-bg-color;
    }

    &:focus {
      background: $cd-site-bg-color--light;
      //outline: 1px dotted $hrinfo-red;
    }
  }

  > li.active > a,
  > li.active > a:hover,
  > li.active > a:focus {
    background-color: $cd-site-bg-color--light;
  }
}
