//——————————————————————————————————————————————————————————————————————————————
// Typography
//——————————————————————————————————————————————————————————————————————————————

h1, h2 ,h3 ,h4 ,h5 {
  line-height: 1.2;
  font-weight: bold;
}

h1 {
  @include font-size($cd-font-size-medium);
  color: $cd-ocha-blue;
  font-weight: normal;
}

h1, h2 ,h3 ,h4 ,h5, ol, dl {
  margin-bottom: $cd-base-unit;
}

//p, ul {
//  margin-bottom: $cd-base-unit;
//}

h4, h5 {
  font-weight: 400;
}

h1, h2 ,h3 ,h4 ,h5 {
  color: $cd-ocha-blue;
}

h1.page-heading {
  padding-bottom: $cd-base-unit*1.5;
  border-bottom: 1px solid $cd-mid-bluey-grey;
  font-weight: 300;
}

h2, h3 {
  text-transform: uppercase;
}

a {
  color: $cd-dark-blue;

  &:hover, &:focus {
    color: $cd-ocha-blue;
    text-decoration: none;
  }
}

a[href^="mailto"] {
  word-break: break-all;
}

//ol, ul {
//  list-style: initial;
//  margin-left: $cd-base-unit*3;
//}

ol {
  list-style: decimal;
}

//li {
//  margin-bottom: $cd-base-unit/4;
//}

strong {
  font-weight: 400;
}

em {
  font-style: italic;
}

u {
  text-decoration: none;
  font-weight: bold;
}

dt {
  font-weight: 400;
}

dd {
  margin-bottom: $cd-base-unit;
}

@include min-width(sm) {
  h1 {
    @include font-size($cd-font-size-xlarge);
  }

  //p, ul {
  //  @include font-size($cd-font-size-base);
  //}

  ol, dl {
    @include font-size($cd-font-size-base);
  }

  //li {
  //  margin-bottom: $cd-base-unit/2;
  //}

  h2 {
    @include font-size($cd-font-size-medium);
    font-weight: normal;
  }

  h1, h2 ,h3 ,h4 ,h5, ol, dl {
    margin-bottom: $cd-base-unit*2;
  }

  //p, ul {
  //  margin-bottom: $cd-base-unit*2;
  //}
}
