//
// Styles for Forms
// --------------------------------------------------

label {
  display: block;
}

.chosen-container {
  max-width: 100%;
}

.form-type-checkboxes {

    .form-checkboxes .form-item, .form-radios .form-item {
       margin-top: -0.4em;
    }

    label {
      display: block;
      text-indent: -2px;
      margin-bottom: 15px
    }

}

form .table-responsive {
  overflow-x: inherit;
}

.node-form {
  .form-item .description,
  .form-item .help-block {
    padding: 10px 0;
  }

  label {
    font-size: 16px;
  }
  table thead tr th {
    background-color: $cd-light-grey;

    color: $cd-dark-grey;
    font-weight: normal;
    text-transform: capitalize;
  }

  thead label {
    padding-left: 10px;
  }

  .chosen-container {
    font-size: 14px;
    margin: 20px 20px 0 0;
    width: 100% !important;

    span {
      font-weight: normal;
    }

    .chosen-results li.highlighted {
      background: $cd-light-grey;
      color: $cd-dark-grey;
    }
  }

  // To override hiding table headers in _page.scss.
  @include max-width(md) {
    .field-multiple-drag {
      height: 30px;
    }

    thead tr {
      position: relative;
      top: 0;
      left: 0;
    }

    /* Override !important setting from _page.scss */
    td {
      padding-left: 10px !important;
    }
  }

  .field-add-more-submit {
    border: 1px solid #ccc;
  }
}

.node-hr_office-form {

  #actions,
  #edit-field-phones,
  .contact,
  .form-item-title input,
  .field-type-email input,
  > div > .form-group,
  > div > .form-wrapper {
    margin-top: 20px;
  }

  .form-type-phone-tel,
  .form-type-phone .form-item {
    float: none;

    input {
      width: 100%;
    }
  }

  .field-name-field-is-coordination-hub {
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    height: 65px;
    padding: 10px;
  }

  @include desktop {
    > div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .field-name-field-address,
    .field-name-og-group-ref,
    .form-item-title {
      flex-grow: 1;
      margin-right: 20px;
      width: 50%;
    }

    .contact,
    .form-item-language,
    .field-name-field-is-coordination-hub {
      width: 35%;
    }

    #edit-actions {
      width: 100%;
    }
  }
}

.node-hr_document-form {

  #actions,
  .details,
  .field-name-field-sectors,
  .form-item-title input,
  > div > .form-group,
  > div > .form-wrapper {
    margin-top: 20px;
  }

  .field-name-field-exclude-reliefweb {
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    height: 65px;
    padding: 10px;
  }

  @include desktop {
    > div,
    .hr-additional > div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .main-inputs,
    .field-name-field-locations,
    .form-item-title {
      flex-grow: 1;
      margin-right: 20px;
      width: 50%;
    }

    .hr-additional {
      border-bottom: 2px solid $cd-light-grey;
      border-top: 2px solid $cd-light-grey;
      margin: 20px 0;
      padding: 20px 0;
      width: 100%;
    }

    .details,
    .hr-additional-side,
    .form-item-language {
      width: 35%;
    }

    #edit-actions {
      width: 100%;
    }
  }
}

.node-hr_infographic-form {

  #actions,
  .details,
  .field-name-field-sectors,
  .form-item-language input,
  .form-item-title input,
  > div > .form-group,
  > div > .form-wrapper {
    margin-top: 20px;
  }

  .field-name-field-exclude-reliefweb {
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    height: 65px;
    padding: 10px;
  }

  @include desktop {
    > div,
    .hr-additional > div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .main-inputs,
    .field-name-field-locations,
    .form-item-title {
      flex-grow: 1;
      margin-right: 20px;
      width: 50%;
    }

    .hr-additional {
      border-bottom: 2px solid $cd-light-grey;
      border-top: 2px solid $cd-light-grey;
      margin: 20px 0;
      padding: 20px 0;
      width: 100%;
    }

    .details,
    .hr-additional-side,
    .form-item-language {
      width: 35%;
    }

    #edit-actions {
      width: 100%;
    }
  }
}

/* Hiding fields. */
.js .hr-add-button {
  background: none;
  color: $cd-dark-grey;
  font-size: 16px;
  margin: 10px;
  &:hover,
  &:focus {
    background-color: $cd-mid-light-grey;
    color: $cd-mid-grey;
  }
}

.js .hr-add-more {
  display: none;
}
