//
// Styles for Forms
// --------------------------------------------------

label {
  display: block;
}

.chosen-container {
  max-width: 100%;
}

.form-type-checkboxes {

    .form-checkboxes .form-item, .form-radios .form-item {
       margin-top: -0.4em;
    }

    label {
      display: block;
      text-indent: -2px;
      margin-bottom: 15px
    }

}

form .table-responsive {
  overflow-x: inherit;
}

.node-hr_office-form {

  table thead tr th {
    background-color: $cd-light-grey;

    label {
      color: $cd-dark-grey;
      font-size: 16px;
      font-weight: normal;
      text-transform: capitalize;
    }
  }

  thead label {
    padding-left: 10px;
  }

  #actions,
  #edit-field-phones,
  .contact,
  .form-item-title input,
  .field-type-email input,
  > div > .form-group,
  > div > .form-wrapper {
    margin-top: 20px;
  }

  .form-type-phone-tel,
  .form-type-phone .form-item {
    float: none;

    input {
      width: 100%;
    }
  }

  .chosen-container {
    font-size: 14px;
    margin: 20px 20px 0 0;
    width: 100% !important;

    span {
      font-weight: normal;
    }

    .chosen-results li.highlighted {
      background: $cd-light-grey;
      color: $cd-dark-grey;
    }
  }

  .field-name-field-is-coordination-hub {
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    height: 80px;
    padding: 10px;
  }

  @include desktop {
    > div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .field-name-field-address,
    .field-name-og-group-ref,
    .form-item-title {
      flex-grow: 1;
      margin-right: 20px;
      width: 50%;
    }

    .contact,
    .form-item-language,
    .field-name-field-is-coordination-hub {
      width: 35%;
    }

    #edit-actions {
      width: 100%;
    }
  }

  @include max-width(md) {
    .field-multiple-drag {
      height: 30px;
    }

    /* Override important setting from _page.scss */
    td {
      padding-left: 10px !important;
    }
  }

  /* Hiding fields. */
  .hr-add-button {
    background: none;
    color: $cd-dark-grey;
    font-size: 16px;
    margin-top: 10px;
    &:hover,
    &:focus {
      background-color: $cd-mid-light-grey;
      color: $cd-mid-grey;
    }
  }

}

.js .hr-add-more {
  display: none;
}

