p.fts_visualization_source {
  text-align: center;
  font-style: italic;
  font-size: xx-small;
}

p.fts_visualization_source a{
  color: #999999;
}

p.fts_visualization_total {
  text-align: center;
  font-size: large;
}

span.fts_visualization_total_value {
  font-weight: bold;
}
