<% _.each(assessments, function(assessment) { %>
<div class="views-row">
  <div class="panelizer-view-mode node node-search-result node-hr-assessment">
    <h2>
      <a href="#assessment/<%= assessment.get('id') %>"><%= assessment.get('label') %></a>
    </h2>

    <div class="panel-display boxton clearfix radix-boxton">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 radix-layouts-content panel-panel">
            <div class="panel-panel-inner">
              <div class="panel-pane pane-entity-field pane-node-field-organizations">
                <div class="pane-content">
                  <div class="field field-name-field-organizations field-type-entityreference field-label-inline clearfix">
                    <div class="field-label">Leading/Coordinating Organization(s):&nbsp;</div>
                    <div class="field-items">Ethiopia Red Cross</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-separator"></div>
            <div class="panel-pane pane-entity-field pane-node-field-asst-status">
              <div class="pane-content">
                <div class="field field-name-field-asst-status field-type-list-text field-label-inline clearfix">
                  <div class="field-label">Status:&nbsp;</div>
                  <div class="field-items"><%= assessment.get('status') %></div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-separator"></div>
          <div class="panel-pane pane-entity-field pane-node-field-asst-date">
            <div class="pane-content">
              <div class="field field-name-field-asst-date field-type-datetime field-label-inline clearfix">
                <div class="field-label">Assessment Date(s):&nbsp;</div>
                <div class="field-items">
                  <div class="field-item"><div class="date-display-range"><span class="date-display-start">16 Nov 2016</span> to <span class="date-display-end">23 Nov 2016</span></div></div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-separator"></div>
        </div>
      </div>
    </div>
  </div>
</div><!-- /.boxton -->
  <% }); %>
